git rm -r --cached .# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings (optional)
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Localization files
*.mo